.App {
  text-align: center;
}

.App-logo {
  max-width: 20vh;
  width: 50vh;
  pointer-events: none;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 1vh;
  
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;

  /*unicode-bidi: bidi-override;*/
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
