body {
    /*font: 14px "Century Gothic", Futura, sans-serif;*/
    margin: 0%;
    
  }
  
  ol, ul {
    padding: 0px;
  }

  .contenido {
    background: rgb(57, 81, 96);
    padding: 0%;
    padding-bottom: 1vh;
    margin: 0%;
    width: 100%;
    text-align: center;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
    
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    margin-right: -1px;
    margin-top: -5px;
    padding: 0;
    text-align: center;
    width: 50px;
    height: 50px;
    
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0%;
    margin: 0%;
    background: rgb(7, 164, 185);
    color: #fff;
  }
  
  .game-info {
    margin: 0%;
  }
  