.stand-game{
  background: rgb(7, 164, 185);
  color: rgb(255, 255, 255);
  width: max-content;
  height: fit-content;
  float: right;
}

.contenido {
  background: rgb(57, 81, 96);
  text-align: center;
}

.board-row:after {
  content: "";
  display: table;
  clear: right;
}

.status {
  padding-bottom: 3vh;
  padding-top: 2vh;
}

.square {
  background: rgb(118, 70, 70);
  border: 1px solid #999;
  text-align: center;
  font-size: 13vh;
  font-weight: bold;
  line-height: 5px;
  margin-right: -1px;
  margin-top: -5px;
  padding: 0%;
  width: 60px;
  height: 60px;
  
}

.square:focus {
  outline: none;
}

ol, ul {
  padding: 0px;
}

.kbd-navigation .square:focus {
  background: rgb(255, 217, 0);
}

.game-info {
  margin: 0%;
}

@keyframes App-logo-spin-sc {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-sc {
    animation: App-logo-spin-sc infinite 40s linear;
  }
}
